AGENT_OPENAI_API_KEY=
INGESTION_EXCLUDED_LEADING_PAGES=4
INGESTION_EXCLUDED_TRAILING_PAGES=2
INGESTION_PDF_URL=https://www.ibanista.com/wp-content/uploads/2025/11/Guide-Discover-Brittany-Nov-2025.pdf
