AGENT_OPENAI_API_KEY=
AGENT_PORT=8000
EMBEDDING_DIMENSIONS=384
INGESTION_EMBEDDING_MODEL=BAAI/bge-small-en-v1.5
INGESTION_EMBEDDING_BATCH_SIZE=64
INGESTION_EMBEDDING_NORMALIZE=true
POSTGRES_DB=ai_tour_guide
POSTGRES_USER=user
POSTGRES_PASSWORD=password
