# To use OpenAI instead of the built-in demo, replace these values.
AGENT_LLM_PROVIDER=baguette-llm
AGENT_LLM_API_KEY=oui-oui-123
AGENT_LLM_MODEL=mini-croissant-1.0
# These settings work unchanged with the built-in demo.
AGENT_PORT=8000
AIRFLOW_ADMIN_PASSWORD='pa$$word123'
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_DB_NAME=airflow
AIRFLOW_FERNET_KEY=r03prsYnnX8YGTpFRyo-elSF6KUHqJL5BlLEbOAZCWo=
AIRFLOW_PORT=8080
AIRFLOW_API_SECRET_KEY=ff21f066177408bb044942f53466a30443d87b3ea30982f87d7d6f966e0ed62b
DOCKER_GID=1001
CHAT_API_URL=http://localhost:8000/ask
CHAT_TITLE="Baguette Voyages"
CHAT_HOST=127.0.0.1
CHAT_PORT=7860
DASHBOARD_PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_SCHEMA=public
EMBEDDING_DIMENSIONS=384
EMBEDDING_MODEL_NAME=BAAI/bge-small-en-v1.5
EMBEDDING_BATCH_SIZE=32
EMBEDDING_NORMALIZE=true
INGESTION_DEBUG=false
INGESTION_TIMEOUT=30
INGESTION_TMP_FOLDER=tmp
METABASE_URL=http://127.0.0.1:3000
METABASE_DB_NAME=metabase
METABASE_ADMIN_EMAIL=admin@example.com
METABASE_ADMIN_PASSWORD='pa$$word123'
METABASE_DATABASE_NAME=AI Tour Guide
METABASE_DATABASE_HOST=database
METABASE_HEALTH_TIMEOUT_SECONDS=300
